@model TestHireChannelMVC.Models.RecruiterJobSeeker.RecruiterModel

<h2>My Posted Jobs</h2>
<table>
    <tr>
        <th>
            Job Title
        </th>
        <th>
            Description
        </th>
        <th>
            Skills
        </th>
    </tr>

@foreach (var item in Model.JobModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Description)
        </td>
        <td>
        @foreach (var skill in item.Skills) {
            <div>
            @Html.DisplayFor(skillItem => skill.Skill)
            </div>
            <div>
            @Html.DisplayFor(skillItem => skill.Year)
            </div>
        }
        </td>
    </tr>
}

</table>
